{% include('_image_header.html.twig') %}
<form class="login-form" method="post">
	{% if error %}
		<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}

	{% if app.user %}
		<div class="mb-3">
			You are logged in as
			{{ app.user.username }},
			<a href="{{ path('app_logout') }}">Logout</a>
		</div>
	{% endif %}

	<div class="sign-in-buttons">
		<h1 class="h3 mb-3 form-title">Sign in</h1>
		<button class="signin-page-signup-btn h3 mb-3 form-title" type="submit">
			<a class="login-form-signup-link" href="{{ path('app_signup') }}">Register</a>
		</button>
	</div>
	<hr>
	<label class="login-form-emailLabel" for="inputEmail">Email</label>
	<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
	<label class="login-form-passwordLabel" for="inputPassword">Password</label>
	<input type="password" name="password" id="inputPassword" class="form-control" required>

	<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

	<a class="login-form-forgot-password" href="{{ path('user_password_forgot') }}">
		<p>Forgot your password ?</p>
	</a>

	<div class="checkbox mb-3">
		<label class="remember-me-text">
			<input type="checkbox" name="_remember_me">
			Remember me
			<span class="remember-small-text">(Don't use this option on shared or public device)</span>
		</label>

	</div>


	<button class="form-button btn" type="submit">
		Sign in
	</button>
</form>
