{% extends "base.html.twig" %}

{% block body %}
	{{ include('_image_header.html.twig') }}
	<div class="form">
		{{ form_start(form) }}
		<h1 class="form-title">Reset your password</h1>
		<hr>
		{{ form_row(form.email, {'attr': {'class': 'form-field'}}) }}
        {{ form_row(form.submit, {'attr': {'class': 'form-button'}}) }}
		{{ form_end(form) }}
	</div>
{% endblock %}
