{% extends "base.html.twig" %}
{% block title %}
	Reset password
{% endblock %}
{% block body %}
	{{ include('_image_header.html.twig') }}
	<h1>Reset your password</h1>
	<div class="form">
		{{ form_start(form) }}
		{{ form_row(form.new_password, {'attr': {'class': 'form-field'}}) }}
		{{ form_row(form.save, {'attr': {'class': 'form-button'}}) }}
		<input type="hidden" name="token" value="{{ token }}">
		{{ form_end(form) }}
	</div>
{% endblock %}
