<div class="dropdown">
	<button onclick="myFunction()" class="dropbtn">
		{% if category is defined %}
			{{ category.name }}
		{% else %}
			everything
		{% endif %}
	</button>
	<div id="myDropdown" class="dropdown-content">
		<a class="highlight-cat" href="
				{% if category is defined %}
					{{ path('products_by_category', {category_id: category.id}) }}
				{% else %}
						{{path('homepage')}}
				{% endif %}">

			{% if category is defined %}
				{{ category.name }}
			{% else %}
				everything
			{% endif %}
		</a>
		{% if category is defined %}
			<a class="dropdown-category" href="{{ path('homepage') }}">everything</a>
		{% endif %}

		{% for category in categories %}
			<a class="dropdown-category" href="{{ path('products_by_category', {category_id: category.id}) }}">{{ category.name }}</a>
		{% endfor %}
	</div>
</div>
