{% extends 'base.html.twig' %}

{% block title %}Contact form
{% endblock %}

{% block body %}
	{{ include('_image_header.html.twig')}}

	{{ form_start(form)}}
	<h1 class="form-title">Contact us</h1>
	<hr>
	{{ form_row(form.name, {'attr': {'class': 'form-field'}}) }}
	{{ form_row(form.email, {'attr': {'class': 'form-field'}}) }}
	{{ form_row(form.text, {'attr': {'class': 'form-field'}}) }}
	{{ form_row(form.send, {'attr': {'class': 'form-button'}}) }}

	{{ form_end(form) }}
{% endblock %}
