{% extends 'base.html.twig' %}

{% block title %}Contact form
{% endblock %}

{% block body %}
	{{ include('_image_header.html.twig')}}

	{{ form_start(form)}}
	<h1 class="form-title">Contact us</h1>
	<hr>
	{{ form_row(form.name, {'attr': {'class': 'form-field'}}) }}
	{{ form_row(form.email, {'attr': {'class': 'form-field'}}) }}
	{{ form_row(form.text, {'attr': {'class': 'form-field'}}) }}
	<div class="g-recaptcha" data-sitekey={{ google_recaptcha_site_key }}></div>
	<br>
	{{ form_row(form.send, {'attr': {'class': 'form-button'}}) }}

	{{ form_end(form) }}
{% endblock %}

{% block javascripts %}
 <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}