<div class="row row-cols-2 row-cols-sm-3 row-cols-md-3 row-cols-lg-3 row-cols-xl-4 cards-container">

	{% for product in products %}
		<div class="col mb-4">
			<div class="product-card">
				{% for picture in product.pictures %}
					{% if picture.rank is same as(1) %}
						<img src="{{ picture.path }}" class="card-img-top product-img" alt="...">
					{% endif %}
				{% endfor %}
				<p class="product-price">{{ product.price }}
					€

					{% if user is not null %}
						{% set users = product.users %}
						{% if user in users %}
							<a class="product-list-favored-product" href="{{ path('user_favorite_remove' , {'product_id': product.id}) }}">
								<i class="fa fa-heart"></i>
							</a>
						{% else %}
							<a class="product-list-not-favored-product" href="{{ path('user_favorite_add', {'product_id': product.id}) }}">
								<i class="fa fa-heart"></i>
							</a>
						{% endif %}
					{% endif %}

				</p>
				<a class="etsy-button" href="{{ product.etsyLink }}" target="_blank">Buy on Etsy &copy;</a>

			</div>
			<div class="product-card-text">
				<a class="product-details-link stretched-link" href="{{ path('product_details', {product_id: product.id }) }}" tabindex="0">
					<h5 class="card-title">{{ product.name }}</h5>
				</a>
				<p class="mobile-product-price">{{ product.price }}
					€
				</p>
			</div>
		</div>
	{% endfor %}

</div>
