{% extends "base.html.twig" %}
{% block title %}
	My profile
{% endblock %}

{% block body %}
	{{ include('_image_header.html.twig') }}
	<div class="user-card">

		<h3 class="user-details-name">Welcome to your account
			{{ user.firstname }}</h3>
		<div class="user-details-table">
			<table class="table">
				<tbody>
					<tr>
						<td>Firstname</td>
						<td>{{ user.firstname }}</td>
					</tr>
					<tr>
						<td>Lastname</td>
						<td>{{ user.lastname }}</td>
					</tr>
					<tr>
						<td>Email</td>
						<td>{{ user.email }}</td>
					</tr>
				</tbody>
			</table>
			<div class="user-details-button-container">
				<a class="user-details-button-link" href="{{ path('user_profile_update') }}">
					<button type="button" class="btn user-details-button">
						Update my account
					</button>
				</a>

				<a class="user-details-button-link" href='{{ path('user_password_update') }}'>
					<button type="button" class="btn user-details-button">
						Change my password
					</button>
				</a>

				<a tabindex="0" class="user-details-button-link">
					<button  type="button" class="btn user-details-button" data-toggle="modal" data-target="#exampleModalCenter">
						Delete my account
					</button>
				</a>
			</div>
		</div>


		<!-- Modal -->
		{{ include('user/_delete_modal.html.twig')}}
	</div>

{% endblock %}
