{% extends "base.html.twig" %}

{% block title %}
	Update password
{% endblock %}
{% block body %}
	{{ include('_image_header.html.twig') }}

	<div class="form">
		{{ form_start(form) }}
		<h1 class="form-title">Change your password</h1>
		<hr>
		{{ form_row(form.actual_password, {'attr': {'class': 'form-field'}}) }}
		{{ form_row(form.plain_password, {'attr': {'class': 'form-field'}}) }}
		{{ form_row(form.save, {'attr': {'class': 'form-button'}}) }}

		{{ form_end(form) }}
	</div>

{% endblock %}
